.main-menu .navigation > li:hover > a, .main-menu .navigation > li.current > a, .main-menu .navigation > li.current-menu-item > a {
    color: #4f7ba7  !important;
    opacity: 1;
}

.btn-style-twoo{
	position: relative;
	line-height: 29px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 800;
	border-radius: 50px;
	letter-spacing: 1px;
	background: #36689b;
	padding: 12px 30px 12px;
	border: 2px solid #36689b;
	box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
}


.contact-page-section {
    position: relative;
    padding-top: 144px  !important;
}

.btn-style-two {
    position: relative;
    line-height: 29px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    border-radius: 50px;
    letter-spacing: 1px;
    background: #911a6f;
    padding: 12px 30px 12px;
    border: 2px solid #911a6f;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
}
.logoimg{
	width:143px !important;
	    height: 55px;
}

.form-control{
	border-radius: 4.25rem;
}

.sec-title {
    margin-bottom: 25px;
}

.btn-style-two:hover {
     color: #ffffff; 
     background: #911a6f;
 }

 .btnstyle{
	height: 40px;
    /*margin: 0px 3px 4px -11px;*/
    padding: 2px 25px 4px 28px;
 }


 .faimg{
 	    height: 16px;
 }

 .banner-section-three:before {
 	background: none;
 }

 .banner-section-three {
    padding-top: 100px;
}

.screenshots-section .carousel-outer {
	background: url(../simages/aboutus/iphone-mockup.png) center top no-repeat;
}

.screenshots-section:before {
	background: url(../simages/aboutus/app_screem_background.png) center top no-repeat;
	background-size: 1357px 330px;
    background-position: -20px 96px;
}

.screenshots-section .carousel-outer .mockup-layer:after {
	background: url(../simages/aboutus/iphone-mockup.png) right top no-repeat;
}

.screenshots-section .carousel-outer .mockup-layer:before {
	background: url(../simages/aboutus/iphone-mockup.png) left top no-repeat;
}



.img-google{
	       height: 83px;
    margin: -25px 0px 0px -11px;
}
.bgimg{
	background: url(../simages/seeker/round-bg.png) right no-repeat;
    background-size: 440px 485px;
    background-position: 217px 92px;
}

.mockimg{
	opacity: 1.0;
}
.featuretext{
	height: 45px;
}

/*.{
	background-color: #f6f6f6;
}
*/
.services-block .inner-box .text {
    position: relative;
    color: #2f313d;
    z-index: 1;
    font-size: 13px;
    line-height: 1.8em;
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
	.imageTestmonial {
		width: 25%;
		text-align: center;
		margin: 0 auto;
    }
    .faq-block .inner-box {
	    height: 398px;
	}
    .testimonial-section .carousel-column .inner-column .text {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    font-weight: 600;
	    width: 739px;
	    left: 230px;
	}
	 .textstyle{
		    margin: 0px 1px 8px 2px;;
	}
}

@media only screen and (min-width: 600px) {
	.imageTestmonial {
		width: 25%;
		text-align: center;
		margin: 0 auto;
    }
    .testimonial-section .carousel-column .inner-column .text {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    font-weight: 600;
	    width: 739px;
	    left: 230px;
	}
	.faq-block .inner-box {
	    height: 398px;
	}
	 .textstyle{
		    margin: 0px 1px 8px 2px;;
	}
}

@media only screen and (min-width: 768px) {
	.imageTestmonial {
		width: 25%;
		text-align: center;
		margin: 0 auto;
    }
    .faq-block .inner-box {
		    height: 398px;
	}
    .icon-img{
		    height: 84px;
    margin: 50px 27px 0px 0px;
	}
	.appimag{
		height: 577px;
	}
	.app-section .image-column .inner-column:before {
	    position: absolute;
	    content: '';
	    right: 0px;
	    top:-30px;
	    /*width: 647px;
	    height: 654px;*/
	    z-index: -1;
	    display: inline-block;
	   background: url(../simages/aboutus/pattern-1.png) no-repeat;
	   /*background-size: 500px 637px;*/
	}
	.testimonial-section .carousel-column .inner-column .text {
	    text-align: center;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    font-weight: 600;
	    width: 739px;
	    left: 7px;
	}
	.testimonial-section .carousel-column .inner-column .text1 {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    /*font-weight: 600;*/
	    /*width: 750px;*/
  		left: 10px;
	}
	.bckvision{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
		background-position: -31px 113px;
	}
	.bckvision1{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
		background-position: -31px 106px;
	}
	.backimg{
	background: url(../simages/seeker/FAQ_question_back_ground.png) no-repeat;
	    background-size: none;
	}
	 .textstyle{
		    margin: 0px 1px 8px 2px;;
	}
}

@media only screen and (min-width: 992px) {
	.imageTestmonial {
		width: 10%;
		text-align: center;
		margin: 0 auto;
    }
    .faq-block .inner-box {
		    height: 417px;
	}
    .icon-img{
		height: 78px;
		margin: -47px 52px -2px -7px;
	}
	.appimag{
		height: 577px;
	}
	.app-section .image-column .inner-column:before {
	    position: absolute;
	    content: '';
	    right: 0px;
	    top:-30px;
	    /*width: 647px;
	    height: 654px;*/
	    z-index: -1;
	    display: inline-block;
	   background: url(../simages/aboutus/pattern-1.png) no-repeat;
	   /*background-size: 500px 637px;*/
	}
	.testimonial-section .carousel-column .inner-column .text {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    font-weight: 600;
	    width: 739px;
	    left: 230px;
	}
	.backimg{
		background: url(../simages/seeker/FAQ_question_back_ground.png) no-repeat;
		background-size: 356px 552px;
	}
	 .textstyle{
		    margin: 0px 1px 8px 2px;;
	}
}

@media only screen and (min-width: 1200px) {
	
	 .textstyle{
		    margin: 0px 1px 8px 58px;
	}

	.app-section .image-column .inner-column .chat-icon {
	    position: absolute;
	    right: 17px;
	    top: -55px;
	    /*right: 76px;*/
		transform: translateY(82px);
		transition: transform 0s linear 0s;
		will-change: transform;
	}
	.imageTestmonial {
		width: 10%;
		text-align: center;
		margin: 0 auto;
    }
    .faq-block .inner-box {
		    height: 398px;
	}
    .bckvision1{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
	        background-position: -31px 157px;;
	}
    .icon-img{
		height: 78px;
		    margin: -3px 26px 9px 6px;
	}
	.bckvision{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
	        background-position: -31px 315px;
	}
	.app-section .image-column .inner-column .message-box {
		left: -52px;
		top: 351px; position: absolute;
    }

	.appimag{
		height: 577px;
	}
	.app-section .image-column .inner-column:before {
	   position: absolute;
    content: '';
    right: 0px;
    top: -60px;
    width: 566px;
    height: 652px;
    z-index: -1;
    display: inline-block;
	   background: url(../simages/aboutus/pattern-1.png) no-repeat;
	   /*background-size: 500px 637px;*/
	}

	.testimonial-section .carousel-column .inner-column .text {
	    text-align: center;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    font-weight: 600;
	    width: 739px;
	    left: 176px;
	}

	.backimg{
		background: url(../simages/seeker/FAQ_question_back_ground.png) no-repeat;
		background-size: 356px 552px;
	}
	.testimonial-section .carousel-column .inner-column .text1 {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
	    height: 171px;
	    /*font-weight: 600;*/
	    width: 461px;
  		left: 10px;
	}
}



@media only screen and (max-width: 768px) {
	.app-section .image-column .inner-column .chat-icon {
	    position: absolute;
	    right: 0px;
	    right: 6px;
		transform: translateY(82px);
		transition: transform 0s linear 0s;
		will-change: transform;
	}

	 .textstyle{
		    margin: 0px 1px 8px 2px;;
	}
	.imageTestmonial {
		width: 25%;
		text-align: center;
		margin: 0 auto;
    }
    .faq-block .inner-box {
		    height: 398px;
	}
    .app-section .image-column .inner-column .chat-icon {
	    top: -5px !important;
	}
    .appimag{
		height: 577px;
	}
	.bckvision{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
	        background-position: -31px 113px;
	}
	.bckvision1{
		background-image: url('../simages/aboutus/background image.png');background-repeat: no-repeat;background-size: 891px 119px;
	        background-position: -31px 106px;
	}
	.app-section .image-column .inner-column .message-box {
	    left: -34px;
	    top: 493px;
	}

	.app-section .image-column .inner-column:before {
	    position: absolute;
	    content: '';
	    /*right: -185px;*/
	    top: -30px;
	    z-index: -1;
	    display: inline-block;
	    background: url(../simages/aboutus/pattern-1.png) no-repeat;
	    /*background-size: 391px 635px;*/
	}

	.testimonial-section .carousel-column .inner-column .text {
			text-align: center;
			top: 21px;
			color: #131314;
			font-size: 14px;
			height: 237px;
			font-weight: 600;
			width: 325px;
			left: 352px;
	}

	.testimonial-section .carousel-column .inner-column .text1 {
	    text-align: justify;
	    top: 21px;
	    color: #131314;
	    font-size: 14px;
		height: 238px;
    /*font-weight: 600;*/
    /*width: 363px;*/
   		 left: 10px;
	}

	.backimg{
		background: url(../simages/seeker/FAQ_question_back_ground.png) no-repeat;
		    background-size: none;
	}

}





.stylefont{
	color:#36689b;
	font-weight: 800;
}

.sec-title1{
	margin-top: -33px;
	font-size: 12px;
}

.sec-title1.centered {
    text-align: center;
}

.faq-block .inner-box h3 {
	color:#36689b;
}

.btn-style-two-in-one {
    position: relative;
    line-height: 29px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 800;
    border-radius: 50px;
    letter-spacing: 1px;
    background: #36689b;
    padding: 11px 32px 11px;
    border: 2px solid #36689b;
    box-shadow: 0px 10px 10px rgb(0 0 0 / 20%);
}

.services-section1 {
    position: relative;
    padding: 0px 0px 2px;
    z-index: 1;
}

.sec-title h2 {
	font-weight: 589;
}

.app-section .content-column .inner-column .text {
    position: relative;
    color: #7f8497;
    font-size: 12px;
    line-height: 1.8em;
    margin-top: 25px;
    margin-bottom: 35px;
}

.h5style{
	font-size: 0.75rem;
}

.app-section .image-column .inner-column .message-box .box-inner .text {
    position: relative;
    color: #7f8497;
    font-size: 7px;
    margin-top: 8px;
    font-weight: 400;
}






.app-section .content-column .inner-column .text1{
	position: relative;
    color: #7c8381;
    font-size: 14px;
    line-height: 1.8em;
    margin-top: 25px;
    margin-bottom: 35px;
}

.app-section .image-column .inner-column .message-box .box-inner .text2{
	position: relative;
    color: #7f8497;
    font-size: 8px;
     line-height: 1.8em;
    margin-top: 8px;
    font-weight: 400;
}
.main-banner .content-column .text {
	text-align: justify;
}

.banner-section-three .content-column .text {
	text-align: justify;
	color: #131314;
	font-size: 14px;
}



.imgScreenshots{
	height: 429px;
}



.main-banner .content-column .text2 {
    text-align: justify;
    color: #131314;
    font-size: 14px;
}

.main-banner .content-column .text {
	    color: #1b1b1c;font-weight: 659;
}

.main-banner .image-column .image img {
	    width: 670px;
	    margin: 80px 0px 0px 57px;


.faq-block .inner-box .text {
	    text-align: justify;
}

.faq-block .inner-box .text p {
	color: #131314;
    font-size: 12px;
}



    .testimonial-section {
    	padding-top: 0px;
    }

    .showappStyle{
    	color: #4d4d4d;
    	font-weight: 500;
    }

    


    .app-section .image-column .inner-column .message-box .box-inner {
		position: relative;
		width: 100%;
		max-width: 215px;
		text-align: center;
		border-radius: 10px;
		padding: 14px 30px 18px;
		/* height: 176px; */
		background-color: #ffffff;
		 box-shadow:none;
    }


.main-menu .navbar-header .navbar-toggler {
	background: #4f7ba7 !important;
	border: 1px solid #4f7ba7 !important;
}

.scroll-to-top {
	background: #4f7ba7 !important;
	border: 2px solid #4f7ba7 !important;
}
.faq-block .inner-box .text p {
	font-size: 12px !important;
}







   
