.installstyle{
	text-align:center;
}
.topShowcase{
	top: 46px;
}
.logoimg{
	height: 20px !important;
}
.app-section {
	padding-top: 0px !important;
}

.main-menu .collapse {
	margin: 25px 0px 0px 0px;
}

.contact-page-section {
	padding-top: 0px !important;
}

.banner-section-three {
    padding-top: 75px;
}

.screenshots-section {
    padding: 0px 0px 0px;
}

.main-banner {
	padding-top: 0px !important;
}

.services-section{
	padding: 49px 0px 58px;
}

.pad_test{
	padding-top: 57px;
}

.testimonial-section .carousel-column .owl-dots {
	margin: 0 auto;
}

.faq-section {
	padding: 0px 0px 0px;
}