
		@media only screen and (min-width: 992px) {

		.owl-dots {
				margin: 0 auto;
				text-align: center;
		}
		.testimonial-section .carousel-column .owl-dots .owl-dot {
			height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active {
				height: 10px;
				width: 9px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active, .testimonial-section .carousel-column .owl-dots .owl-dot:hover {	height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
			width: -3px !important;background-color: white;border-color: white;border: 1px solid #cccccc;
		}
	}


	@media only screen and (min-width: 768px) {

		.owl-dots {
				margin: 0 auto;
				text-align: center;
		}
		.testimonial-section .carousel-column .owl-dots .owl-dot {
			height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active {
				height: 10px;
				width: 9px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active, .testimonial-section .carousel-column .owl-dots .owl-dot:hover {	height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
			width: -3px !important;background-color: white;border-color: white;border: 1px solid #cccccc;
		}
	}

	@media only screen and (max-width: 768px) {
		.owl-dots {
			margin: 0 auto;
			text-align: center;
		}
		.testimonial-section .carousel-column .owl-dots .owl-dot {
			height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active {
				height: 10px;
				width: 9px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active, .testimonial-section .carousel-column .owl-dots .owl-dot:hover {	height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
			width: -3px !important;background-color: white;border-color: white;border: 1px solid #cccccc;
		}
	}

	@media only screen and (min-width: 1200px) {
		.owl-dots{
				margin: 0 auto;
				text-align: center;
		}
		.testimonial-section .carousel-column .owl-dots .owl-dot {
				height: 15px;
				width: 16px;
				background-color: grey;
				border-radius: 15px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active {
				height: 10px;
				width: 9px;
		}

		.testimonial-section .carousel-column .owl-dots .owl-dot.active, .testimonial-section .carousel-column .owl-dots .owl-dot:hover {	
			height: 15px;
			width: 16px;
			background-color: grey;
			border-radius: 15px;
			width: -3px !important;background-color: white;border-color: white;border: 1px solid #cccccc;
		}

	}
	
