@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
body {
  font-size: 15px;
  color: #777777;
  line-height: 1.5;
  font-weight: 400;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nunito', sans-serif;
}

.header{
  background: transparent linear-gradient(270deg, #36689B 0%, #0C172B 100%) 0% 0% no-repeat;
 
  color: #fff;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  display: flex;
  align-items: center;
}
.logo img{
  width:100px;
}
.share-link{
  color: #fff;
  font-size: 18px;
}
.share-link:hover{
  color: #fff;
}
.member-profile-details{
position: relative;
  padding-top: 27px;
}
.dot-nav{
  position: absolute;
  right: 0;
  top: -19px;
  font-size: 27px;
  color: #a2a2a2;
}
.member-profile-details ul{
  list-style: none;
  display: flex;
}
.member-profile-details ul li{
  flex-grow: 1;
  flex-basis: 0;
}
.member-profile-details ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
}
.member-profile-details ul li .icon-box{
  width: 40px;
  height: 40px;
  border-radius:50%;
  color:#fff;
  background:#36689B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}
.member-profile-details .profile-text{
  color:#777777;
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.top-content{
  position: relative;
  z-index:1;
  padding-top:20px;
}
.top-content:after{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index:-1;
  background: #ccc;
  box-shadow: inset 0px -1px 7px 0px rgb(0 0 0 / 7%);
}
.member-img{
  width: 160px;
  height:160px;
  border:6px solid #fff;
  position: relative;
  border-radius:50%;
  box-shadow: 0px -8px 6px rgb(0 0 0 / 8%);
}
.online-circle{

  position: absolute;
  bottom: 14px;
  right: 7px;
  background: #00FF00;
  font-size: 27px;
  border: 3px solid #fff;
  border-radius: 49%;
  width: 20px;
  height: 20px;

}
.star-rating i{
  font-size: 14px;
  color: #F09918;
}
.member-img img{
  width: 100%;
  border-radius:50%;
}
.member-info{
  padding-left: 20px;
  padding-top: 30px
}
.member-info h2{
  color: #444444;
  font-size:25px;
  margin:0;
  margin: 0 0 7px;
  font-weight: 600;

}
.member-info .member-degree{
  font-size:14px;
}

.member-info .member-sm-text{
  font-size:14px;
}
.member-resume-info{
padding-top:34px;
}
.member-resume-info ul{
  list-style: none;
}
.member-resume-info li{
 
}
.member-resume-info .text-title{
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  display:block;
}
.member-resume-info .tag-wrap{
display: flex;
flex-wrap: wrap;
width: 286px
}
.member-resume-info .text-tag{
  font-size: 14px;
  color: #444444;
  box-shadow: 0px 2px 2px #e2dede inset, 0px 1px 2px #f5f5f5;
  padding: 5px 12px;
  border-radius: 15px;
  margin-right: 12px;
  margin-bottom: 12px;
  min-width: 70px;
 text-align: center;
}
.member-resume-info  .about-text .text-tag{
  text-align: left;
  font-size: 12px;
}
.member-resume-info .text-tag i{
  color:#36689B;
  margin-left:15px;
  font-size: 12px;
}



























